
body {
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    font-family: 'Lato', sans-serif;
    color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    flex-direction: column;
    scrollbar-width: 0px;

  }

  #back{
      color: blue;
      font-size: 40pt;
      position: absolute;
      margin-top: 3px;
      text-decoration: none;
  }

  #subject{
    color: blue;
    font-size: 15pt;
    position: absolute;
    margin-top: 25px;
    text-decoration: none;
}

  
  
  .add{
    color: blue;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .add button{
    margin-top: 2rem;
    margin-bottom: 7rem;
    padding: 15px 25px;
    height: 100px;
    width: 100px;
    font-size: 40pt;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
  }
  
  .add button:hover {background-color: rgb(5, 5, 202)}
  
  .add button:active {
    background-color: rgb(5, 5, 202);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
  .add div button{
    margin-left: 5px;
    text-align: center;
    padding: 5px;
    height: 40px;
    width: 40px;
    font-size: 15pt;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 50%;
    box-shadow: 0 5px #999;
  }
  
  .add div button:hover {background-color: rgb(5, 5, 202)}
  
  .add div button:active {
    background-color: rgb(5, 5, 202);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .under{
    height: 40px;
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    outline: none;
    border: 3px solid blue;
    padding: 5px;
  }
  
  .covered{
    display: none;
  }
  
  
  .directories{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    max-width: 30rem;
  }
  
  .directories  div img{
    height: 100px;
    margin-bottom: 5px;
  }
  
  .directories div p{
    margin: 0px;
    cursor: pointer;
  
  }
  
  .directories div{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 10px;
    cursor: pointer;
  
  }
  
  
  