body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #d3edff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back{
    color: white;
    font-size: 30pt;
    position: absolute;
    margin-top: 8px;
    text-decoration: none;
    
}

.page{
    padding: 15px;
    margin-top: 50px;
    border: 0px;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    box-shadow: 5px 5px 15px 5px #bfd3e0;
    outline: none;
    resize: none;
}

#navigation{
    width: 100%;
    margin-bottom: 20px;
    background-color: #2282ff;
    box-shadow: 5px 5px 15px 5px #bfd3e0;
    color: #fff;
    height: 70px;
    display: flex;
    flex-direction: row;

}

#navigation span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}



#navigation input{
    outline: none;
    height: 30px;
    margin-left: 7px;
    padding: 5px;
    border-radius: 15px;
    border: 0px;
    font-family: 'Lato', sans-serif;

}