body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: blue; 
  border-radius: 10px;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 7, 214); 
}

#back{
    color: white;
    font-size: 30pt;
    position: absolute;
    margin-top: 8px;
    text-decoration: none;
    
}

#save{
    color: white;
    font-size: 15pt;
    position: absolute;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}


#saved{
  color: white;
  font-size: 15pt;
  position: absolute;
  margin-top: 20px;
  text-decoration: none;
}

.page{
    margin-top: 50px;
    border: 0px;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    box-shadow: 5px 5px 15px 5px rgb(20, 19, 19);
    outline: none;
    resize: none;
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
}

#navigation{
    width: 100%;
    margin-bottom: 20px;
    background-color: black;
    box-shadow: 5px 5px 15px 5px rgb(20, 19, 19);
    color: #fff;
    height: 70px;
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

#navigation span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}



#navigation input{
    outline: none;
    height: 30px;
    margin-left: 7px;
    padding: 5px;
    border-radius: 15px;
    border: 0px;
    font-family: 'Lato', sans-serif;

}